---
layout: default
---

{% include statistics.html %}

{% include find-your-representatives.html %}

<h3>Or choose your state</h3>
<form action="{{ site.baseurl }}/state/california#members" method="get">
  <p>
    <label for="congress-state-select">Choose your state</label>
    <select name="state" id="congress-state-select">
    {% for nextstate in site.data.states %}
      <option>{{ nextstate.name }}</option>
    {% endfor %}
    </select>
    <button type="submit">Go</button>
  </p>
</form>
