
<h3>Or choose your state</h3>
<form action="{{ site.baseurl }}/state/#members" method="get">
  <p>
    <label>
      <span>State</span><br />
      <select name="state">
      {% for state in site.data.states %}
        <option {% if page.name == state.name %}selected{% endif %}>{{ state.name }}</option>
      {% endfor %}
      </select>
    </label>
    <button type="submit">Go</button>
  </p>
</form>

<script>
// For demonstration purposes on GitHub. (This isn’t needed on good.is)
// Change the form’s action from something like “/state/?state=New York#members” to something like “/state/new-york#members”
(function() {
  var form = document.querySelector('form[action*="/state/"]');
  if (form) {
    form.addEventListener('submit', function(e) {
    	var select = form.querySelector('select');
    	selectedValue = select.options[select.options.selectedIndex].value;
    	window.location = "{{ site.baseurl }}/state/" + selectedValue.toLowerCase().replace(/\s/g, '-') + "#members";
    	e.preventDefault();
    });
  }
})();
</script>
