
<h3>Or choose your state</h3>
<form action="{{ site.baseurl }}/state/#members" method="get">
  <p>
    <label for="congress-state-select">Choose your state</label>
    <select name="state" id="congress-state-select">
    {% for nextstate in site.data.states %}
      <option>{{ nextstate.name }}</option>
    {% endfor %}
    </select>
    <button type="submit">Go</button>
  </p>
</form>

<script>
// For demonstration purposes on GitHub. (This isn’t needed on the production site.)
(function() {
var form = document.querySelector('form[action*="/state/"]');
if (form) {
  form.addEventListener('submit', function(e) {
  	var select = form.querySelector('select');
  	selectedValue = select.options[select.options.selectedIndex].value;
  	window.location = "{{ site.baseurl }}/state/" + selectedValue.toLowerCase().replace(/\s/g, '-') + "#members";
  	e.preventDefault();
  });
}
})();
</script>
