
<h2>Members of Congress who support or oppose Trump’s immigration order</h2>

<ul class="statistics">
  <li class="support" style="width: 0.9276437848%"><!-- 5/539 -->
    <a href="{{ site.baseurl }}/support/#members">
      <span>
        <b>5</b>
        <i>support</i>
      </span>
    </a>
  </li>
  <li class="undecided" style="width: 88.8682745852%;"><!-- 479/539 -->
    <a href="{{ site.baseurl }}/undecided/#members">
      <span>
        <b>479</b>
        <i>undecided</i>
      </span>
    </a>
  </li>
  <li class="oppose" style="width: 10.20408163%"><!-- 55/539 -->
    <a href="{{ site.baseurl }}/oppose/#members">
      <span>
        <b>55</b>
        <i>oppose</i>
      </span>
    </a>
  </li>
</ul>
